@import url(https://fonts.googleapis.com/css?family=Lora);
body {margin:0;}
h1 {
  font-size: 250%;
  text-align: center;
  color: #606060;
}
p {
  text-align: right;
  color: #606060;
}
ul {
  list-style: none; 
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
i {
  margin-right: 10px;
}
.two nav {
  display: block;
  width: 1080px;
  margin: 0 auto 30px;
}

.two ul {
  background: #D4E7EE;
  overflow: hidden;
  padding: 0;
}
.two li {
  float: left;
}
.three li {
  float: right;
}
.two a {
  display: block;
  padding: 1em;
  border-right: 1px solid #ADC0CE;
  background: rgba(173, 192, 206, .3);
  color: #29838C;
}
.two a:hover {background: #ADC0CE}
